body {
  padding: 50px 0 0 0;
  z-index: 0;
}

.row-header {
  margin: 0 auto;
  padding: 0 auto;
}

.row-content {
  margin: 0 auto;
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #5199F466;
  margin: 0 auto;
  padding: 20px 0;
}

.jumbotron {
  margin: 0 auto;
  padding: 70px 20px;
  background-color: #7595CD;
  color: floralwhite;
}

.address {
  margin: 0;
  font-size: 80%;
  color: #0f0f0f;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}

.card {
  margin-bottom: 6px;
}

.card-header {
  transition: .3s;
}

.card-header:hover {
  cursor: pointer;
  background-color: #7595CDBB;
  color: #FFF;
}

.carousel {
  background:#7595CD;
}

.carousel-item {
height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}

#carouselBtns {
  position: absolute;
  right: 0;
  bottom: 0;
}