$lt-gray: #ddd;
$background-dark: #5522AD;
$background-light: #9572CF;
$background-pale: #D5C2ED;

$carousel-item-height: 300px;

@mixin zero-margin($pad-up-down: 0px, $pad-left-right: 0px) {
  margin: 0 auto;
  padding: $pad-up-down $pad-left-right;
}

.row-header {
  @include zero-margin();
}

.row-content {
  @include zero-margin(50px, 0px);
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: $background-pale;
  @include zero-margin(20px, 0px);
}

.jumbotron {
  @include zero-margin(70px, 20px);
  background: $background-light;
  color: floralwhite;
}

.address {
  font-size: 80px;
  margin: 0;
  color: #0f0f0f;
}

body {
  padding: 50px 0 0 0;
}

.navbar-dark {
  background: $background-dark;
}

.tab-content {
  border: 1px solid $lt-gray;
  border-top: none;
  padding: 10px;
}

.carousel {
  background: $background-dark;
  .carousel-item {
    height: $carousel-item-height;
    img {
      position: absolute;
      left: 0;
      top: 0;
      min-height: 300px;
    }
  }
}

#carouselBtn {
  position: absolute;
  right: 0;
  bottom: 0;
}